.has-bg-img { 
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('{{ .Site.BaseURL }}/backgrounds/contract.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.has-paper-bg { 
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('{{ .Site.BaseURL }}/backgrounds/papers.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.has-team-bg { 
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('{{ .Site.BaseURL }}/backgrounds/team.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fast-transition {
    position: relative; /* For positioning the pseudo-element */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.fast-transition::before {
    /* Position the pseudo-element. */
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* Create the box shadow at expanded size. */
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);

    /* Hidden by default. */
    opacity: 0;
    transition: opacity 500ms;
}

.fast-transition:hover::before {
    /* Show the pseudo-element on hover. */
    opacity: 1;
}

.bm--card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
 }

.limit-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}