{{ define "main" }}
<section class="hero is-large has-bg-img">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title has-text-white">
				球场上飞的不是球，是思想。
			</h1>
			<h2 class="subtitle has-text-white">
				Obirt Lab
			</h2>
		</div>
	</div>
	<div class="hero-foot">
		<nav class="tabs is-boxed is-fullwidth">
			<div class="container">
				<ul>
					<li class="tab is-active" onclick="openTab(event,'prof')"><a class="has-text-black">导师介绍</a></li>
					<li class="tab" onclick="openTab(event,'article')"><a class="has-text-white">学术论文</a></li>
					<li class="tab" onclick="openTab(event,'research')"><a class="has-text-white">近期研究</a></li>
					<li class="tab" onclick="openTab(event,'Contract')"><a class="has-text-white">加入我们</a></li>
				</ul>
			</div>
		</nav>
	</div>
</section>



<div class="container section">
	<div id="prof" class="columns is-vcentered">
		<div class="column is-one-fifth">
			<figure class="image is-1by1">
				<img class="is-rounded" src="mugshot/zcz.jpg">
			</figure>
		</div>
		<div class="column">
			<p>
			北京师范大学认知神经科学与学习国家重点实验室近红外成像研究中心主任、方法学研究方向学术带头人。教育部“新世纪优秀人才支持计划”入选者。中国教育学会脑科学与教育研究分会理事、《磁共振成像》学术期刊编委、国家自然科学基金委医学部、信息学部以及生命学部函评专家、医学部特邀会评专家
			</p>
			<p>
				累计发表SCI论文56篇，论文被Nature系列、PNAS等国际顶尖期刊多次正面引用，SCI他引1454次，单篇最高SCI他引148次，单篇平均SCI他引近26次。
			</p>
		</div>
	</div>
	<div id="article" class="columns" style="display:none">
		<div class="column">
			First column
		  </div>
		  <div class="column">
			Second column
		  </div>
		  <div class="column">
			Third column
		  </div>
	</div>
</div>

<script>
	function openTab(evt, tabName) {
		var i, x, tablinks;
		x = document.getElementsByClassName("columns");
		for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tab");
		for (i = 0; i < x.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" is-active", "");
			$(tablinks[i]).find("a").get(0).className = "has-text-white";
		}
		document.getElementById(tabName).style.display = "block";
		evt.currentTarget.className += " is-active";
		$(evt.currentTarget).find("a").get(0).className = "has-text-black";
	}
</script>
{{ end }}